@{
    # Project Information
    Name = '{{PROJECT_NAME}}'
    Description = '{{DESCRIPTION}}'
    ProgramName = '{{PROGRAM_NAME}}'
    Version = '0.1.0'

    # Build Configuration
    DefaultCPU = 'm68020'
    DefaultFPU = ''

    # Package Sources
    PackageSources = @(
        @{
            Name = 'aminet'
            Url = 'https://aminet.net'
            Type = 'archive'
        }
    )

    # Installed Packages
    Packages = @()
}
